* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body {
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    position: relative;
    background-image: url(images/header-background.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;        
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 35vw;
    height: 55%;
    background-image: url(images/header-pattern-1.svg);
    background-size: cover;
    background-position: center;
}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 33vw;
    height: 55%;
    background-image: url(images/header-pattern-2.svg);
    background-position: center;
    background-size: cover;
}

.main-menu {
    margin: 25px 0;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-links {
    display: flex;
    margin-left: 60px;
    transition: 0.25s;
}

.menu-links a {
    display: block;
    color: white;
    font-size: 18px;
    margin: 0 0.5vw;
    padding: 10px;
}

.toggle-button {
    display: none;
    position: absolute;
    right: 10%;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.bar1 {
    width: 32px;
    height: 3px;
    background-color: white;
}

.bar2 {
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 7px 0;
}

.conectiza-banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.contectiza-banner img {
    min-width: 350px;
}

.contectiza-title {
    color: white;
}

.contectiza-title h1 {
    font-size: 60px;
    font-weight: 700;
}

.contectiza-title h2 {
    font-size: 40px;
    font-weight: 400;    
}

.contectiza-title p {
    margin: 30px 0;
    font-size: 20px;
    font-weight: 400;
    padding-right: 100px;
}

.contectiza-title button {
    background: linear-gradient(93.66deg, #AC424E 7.12%, #ED6D1D 98.32%);
    border-radius: 25px;
    padding: 13px 45px;
    color: white;
    border: none;
}

.dash {
    color: #EAE9E9;
}

.down-arrow {
    margin-top: 50px;
}

#section-solucoes {
    padding-top: 75px;
}

h1.solucoes {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 115px;
}

.solucao-card h1 {
    font-weight: 700;
    font-size: 28px; 
    margin: 25px 0;   
}

.solucao-card p {
    font-size: 16px;
    color: #808080;
    padding: 0 30px;
}

.solicitar {
    display: flex;
    align-items: center;    
    margin: 100px 0;
    padding: 50px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 25px;
}

.solicitar h1 {
    font-size: 32px;
    font-weight: 700;
}

.solicitar p {
    font-size: 20px;
    font-weight: 500;   
}

.solicitar button {
    background: linear-gradient(93.66deg, #E8481D 7.12%, #ED6D1D 98.32%);
    border-radius: 100px;
    font-size: 18px;
    color: white;
    border: none;    
    padding: 25px 45px;
    margin-left: 100px; 
    white-space: nowrap;   
}

.vtex {
    background: linear-gradient(92.74deg, #2B8836 0.26%, #7ABA48 101.3%, rgba(217, 217, 217, 0) 101.31%);
    position: relative;
    padding: 100px 0;  
}

.vtex::before {
    content: '';
    position: absolute;
    background-image: url(images/vtex-pattern-1.svg);
    bottom: 0;
    left: 0;
    width: 27vw;
    height: 80%;
    background-size: cover;
    background-position: center;
}

.vtex::after {
    content: '';
    position: absolute;
    background-image: url(images/vtex-pattern-2.svg);
    background-size: cover;
    background-position: center;
    width: 27vw;
    height: 90%;
    top: 0;
    right: 0;
}

.vtex h1 {
    font-size: 28px;
    color: white;
    margin: 50px 0;    
}

.vtex button {
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    padding: 35px 60px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 18px;
}

.headless h1 {
    font-size: 64px;
    font-weight: 700;
}

.headless p {
    font-size: 20px;
    font-weight: 500;
}

.headless-card {
    padding: 30px;
    background: #F2F2F2;
    border-radius: 25px;
}

.headless-card p {
    line-height: 1.25;
    font-weight: 600;
}

.headless-card img {
    margin-bottom: 20px;
}

.headless-info p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;    
}

.contato {
    padding: 100px 0;
}

.contato-title h1 {
    font-size: 64px;
    color: white;
    font-weight: 700;
}

.contato-title {
    margin-bottom: 50px;
}

.contato-title p {
    font-size: 36px;
    color: white;    
}

.contato-title h1 span {
    color: #FF5122;
}

.contato-input input {
    padding: 20px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 20px;   
    color: white;   
}

.contato-input input::placeholder {
    color: white;
}

.contato-input button {
    color: #E8481D;
    font-size: 20px;
    float: right;
    border: none;
    padding: 25px 100px;
    font-weight: 700;
    margin-top: 30px;
}

.contato {
    background-color: #E8481D;
}

#nome {
    width: 100%;
}

#email {
    margin-right: 30px;
    min-width: 60%;
}

#tel {
    width: 100%;   
}

#mensagem {
    width: 100%; 
    padding: 20px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 20px;
    color: white;
}

#mensagem::placeholder {
    color: white;
}

.email-tel {
    margin: 30px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.contato-info div {
    display: flex;
    margin-bottom: 40px;
}

.contato-info h1 {
    font-size: 32px;
    color: white;
    margin-left: 20px;
}

.footer-card-item h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
}

.footer-card-item a {
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    color: black;
}

footer {
    padding: 30px 0;
    border-top: 1px solid rgb(230, 230, 230);
}

footer h6 {
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .solicitar {
        flex-direction: column;        
        padding: 50px 25px;
    }

    .solicitar button {
        margin-left: 0;
    }

    .solicitar div {
        text-align: center;
    }

    .solicitar p {
        margin: 30px 0;
    }    
}

@media (max-width: 920px) {
    .menu-links {
        position: fixed;
        flex-direction: column;        
        transform: translateX(100%);
        right: 0;
        top: 0;
        height: 100vh;
        width: 200px;
        padding-top: 250px;
        background: linear-gradient(102.71deg, #5E3391 24.22%, rgba(154, 90, 228, 0) 93.8%), #5128C1;        
        align-items: center;
        z-index: 1;
    }

    .toggle-button {
        display: block;
    }

    .menu-links-show {
        transform: translateX(0);
    }

    .button-fixed {
        position: fixed;
    }

    .menu-links li {
        margin: 20px 0;
    }   
}

@media (max-width: 992px) {
    .conectiza-banner {
        display: none;
    }    
}